<h5><strong>Cliente:</strong></h5>
<p><strong>Email:</strong> {{user.email}}</p>
<h5><strong>Productos</strong></h5>
<table border="1">
    <tr>
        <td>Código</td>
        <td>Producto</td>
        <td>Precio</td>
        <td >Cantidad</td>
    
    </tr>

{{#each products}}
    <tr>
        <td>{{ this.product.code }}</td>
        <td>{{ this.product.name }}</td>
        <td align="right">{{ this.product.price }}</td>
        <td align="right">{{ this.quantity }} </td>
  
    </tr>
{{/each}}    
</table>
<h5><strong>Total:</strong>$ {{totalCart}}</h5>